.bell {
    background-color: #2e82ff;
    width: fit-content;
    padding: 7px 7px 0;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
}

.bell img {
    width: 40px;
}