.footer-container {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: auto;
    margin-bottom: 150px;
    margin-top: 60px;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
    row-gap: 30px;
}

.footer-links ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: #303030;
    line-height: 40px;
}

.footer-links p {
    font-size: 1.2rem;
    color: #303030;
    font-family: YekanBakhHeavy;
    margin-bottom: 15px;
}

.footer-links p:hover {
    color: #21457f;
}

.social-media p {
    font-size: 1.3rem;
    color: #303030;
    font-family: YekanBakhHeavy;
}

.social-media div {
    margin-top: 20px;
    display: flex;
}

.social-media a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eff4fe;
    cursor: pointer;
    width: 45px;
    height: 45px;
    text-decoration: none;
    font-size: 1.5625rem;
    font-weight: 400;
    border-radius: 10px;
    margin-right: 15px;
}

@media (max-width: 1200px) {
    .footer-container {
        width: 940px;
    }
}

@media (max-width: 990px) {
    .footer-container {
        flex-direction: column;
        width: calc(100% - 60px);
    }
    .social-media {
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    .footer-container {
        margin: 0 60px;
        width: calc(100% - 120px);
    }
    .footer-links {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-links div {
        margin-top: 25px;
    }
    .social-media {
        margin-bottom: 40px;
    }
}

@media (max-width: 575px) {
    .footer-container {
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        margin-bottom: 60px;
    }
}