.banner {
    display: flex;
    width: 1050px;
    justify-content: space-between;
    padding: 124px 60px 80px;
    margin: 20px auto;
    border-radius: 20px;
    background-image: linear-gradient(135deg,#21254e,#2b4a83);
}

.banner-text h3 {
    font-family: YekanBakhHeavy;
    font-size: 2rem;
    color: #fff;
}

.banner-text p {
    color: #fff;
    font-size: 1.15rem;
    margin: 25px 0;
    line-height: 2.5rem;
}

.banner-btns {
    margin-top: 60px;
}

.banner-btns a {
    font-size: 1rem;
    font-family: YekanBakhBold;
    padding: 6px 14px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
}

.register {
    background-color: #ffd900;
    color: #000;
    margin-left: 10px;
}

.login {
    color: #fff;
    background-color: #435a8a;
}


.banner-image img {
    width: 500px;
}

.go-down {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 58px;
}

.go-down div {
    background-image: url(../icons/arrowbottom.svg);
    width: 164px;
    height: 78px;
}

.go-down img {
    width: 15px;
    position: relative;
    top: -60px;
}

@media (max-width: 1200px) {
    .banner {
        width: 900px;
        padding: 60px 40px 120px;
    }

    .banner img {
        width: 430px;
    }
}

@media (max-width: 990px) {
    .banner {
        width: auto;
        padding: 40px 40px 85px;
        margin-left: 35px;
        margin-right: 35px;
    }

    .banner img {
        display: none;
    }

    .banner-text {
        text-align: center;
    }

    .banner-text p {
        margin: 5px 0;
        font-size: 1rem;
    }

    .banner-btns {
        margin-top: 40px;
    }
}

@media (max-width: 768px) {
    .banner {
        margin-left: 8px;
        margin-right: 8px;
    }
}

@media (max-width: 575px) {
    .banner {
        padding: 80px 40px;
    }
    .banner-text p {
        text-align: justify;
    }
    .banner-text h3 {
        font-size: 1.2rem;
        text-align: right;
    }
}