.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin: auto;
    padding: 21px 0 7px;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(20px);
    transition: all 0.3s ease;
}

.myLogo {
    margin: 11px 28px;
}

.headerUl {
    display: flex;
    list-style: none;
}

.headerUl li {
    font-size: 17px;
    margin: 0 10px;
}

.headerUl li a {
    color: #303030;
    cursor: pointer;
    text-decoration: none;
    padding: 0 5px;
}

.headerUl li img {
    width: 10px;
}

.headerUl > li:last-child a {
    color: #28457b;
    background-color: rgba(232,239,254,0.6);
    padding: 10px 27px;
    border-radius: 20px;
    font-family: 'YekanBakhBold';
}

.headerUl > li:last-child a:hover {
    background-color: rgba(232,239,254,0.8);
}

/* hamburger menu css */
.hamburgerIcon {
    width: 35px;
    display: none;
    cursor: pointer;
}

.hamburgerMenuItems {
    padding: 10px 30px;
}

.hamburgerMenuItems ul li a {
    text-decoration: none;
    color: #303030;
    cursor: pointer;
    display: inline-block;
    padding: 3px 0;
}

.hamburgerMenuItems div {
    height: 1px;
    background-color: #dfe1e4;
    width: 90%;
    margin: 8px 0;
} 

.crosIcon {
    width: 100%;
    text-align: left;
    padding: 25px 0;
}

.crosIcon img {
    width: 20px;
    margin-left: 30px;
}

.moreItem {
    display: flex;
    background-color: #eee;
    padding: 20px 50px;
    align-items: center;
}

.moreItem a {
    text-decoration: none;
    color: #28457b;
    font-size: 0.85rem;
}

.moreItem img {
    width: 15px;
    margin-right: 5px;
}

.showHamburgerMenu {
    animation: fadeInDown 0.35s forwards;
}

#show-product-menu {
    position: relative;
}

.prodcut-menu {
    position: absolute;
    top: 30px;
    left: -60px;
    background-color: #fff;
    min-width: 372px;
    height: 219px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    border-bottom: 1px solid hsla(0,0%,100%,.07);
    box-shadow: 0 20px 40px 0 rgb(36 39 51 / 15%);
    border-radius: 12px;
    border-top: 5px solid #f8e88b;
    transition: all 0.3s ease-in-out;
}

#left-menu {
    margin-right: 20px;
}

.prodcut-menu p {
    font-size: 14px;
    font-family: YekanBakhBold;
}

.prodcut-menu div a p:nth-child(1) {
    color: #303030;
}

.prodcut-menu-text-below {
    color: rgb(135, 129, 129);
    margin-top: 5px;
}

#show-more-menu {
    position: relative;
}

#show-more-menu ul {
    position: absolute;
    min-width: 150px;
    top: 30px;
    left: -12px;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid hsla(0,0%,100%,.07);
    box-shadow: 0 20px 40px 0 rgb(36 39 51 / 15%);
    border-radius: 12px;
    border-top: 5px solid #f8e88b;
    transition: all 0.3s ease-in-out;
}

#show-more-menu ul li {
    margin-top: 10px;
}

#show-more-menu ul li a {
    font-size: 14px;
    color: #303030;
    font-family: YekanBakhBold;
}


@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .hamburgerMenu{
        display: block;
    }
}

@media (max-width: 1200px) {
    .header {
        width: 940px;
    }
}

@media (max-width: 990px) {
    .header {
        width: auto;
        padding: 20px 60px;
    }
    .headerUl li:last-child {
        display: none;
    }
    .logo {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .headerUl {
        display: none;
    }
    .header {
        width: auto;
        padding: 10px 8px;
    }
    .hamburgerIcon {
        display: block;
    }
}